:root {
--primary-font: 'Georama', sans-serif;
--background-color: #161616;
--text-color-main: #B4A5A5;
--text-color-secondary: #3D425D;
--accent-color: #311C40;
}

body {
background-color: var(--background-color);
}

p, h1, h2 {
    font-family: 'Georama', sans-serif;
    text-align: center;
}

h1 {
    font-size: 96px;
    color: var(--text-color-main);
}

h2 {
    font-size: 24px;
    color: var(--text-color-secondary);
}

p {
    font-size: 36px;
    font-weight: bold;
    color: var(--accent-color);
}

.hero {
    padding: 160px 20px;
}

.hero button {
   display: block;
   margin: auto;
}

.location {
    font-weight: 500;
}

.btn-success {
    padding: 20px 30px;
    border-radius: 40px;
    font-weight: 500;
    font-family: var(--primary-font);
    color: var(--accent-color);
    background: var(--text-color-main);
    border-color: var(--background-color);
}

.btn-success:hover {
    background: var(--accent-color);
    color: var(--text-color-main);
    border-color: rgb(240, 227, 229);
}