:root {
	--primary-font: "Georama", sans-serif;
	--background-color: #161616;
	--text-color-main: #b4a5a5;
	--text-color-secondary: #3d425d;
	--accent-color: #e64855;
}

body, .btn-success, .value-one,
.value-two,
.value-three,
.value-four, .ski  {
	background-color: var(--background-color);
}

p,
h1,
h2,
h3,
ul {
	font-family: "Georama", sans-serif;
}

p,
h1,
h2,
h3,
ul, .value-one,
.value-two,
.value-three,
.value-four, .copyright, .about-page-socials{
    text-align: center;
}

h1, h3, span, footer, ul, .btn-success:hover, .homepage-dev-hello , .value-one,
.value-two,
.value-three,
.value-four, a:hover, .here-link, .about-my-skills, .contact-info a, .about-contact-bottom {
    color: var(--text-color-main);
}

p, a, hr, .btn-success, .btn-success:hover {
    color: var(--accent-color);
}

.home-page-hobbies, h2 {
    color: var(--text-color-secondary);
}

h1 {
	font-size: 96px;
}

h2 {
	font-size: 24px;
}

p {
	font-size: 36px;
	font-weight: bold;
}

h3 {
	font-size: 55px;
}

a {
	text-decoration: none;
}

footer {
	background: rgb(20, 20, 20);
}

ul, .homepage-dev-hello, .homepage-name, .about-me-hello,
.about-paragraph, .contact-info, .card-text {
    text-align: left;
}

ul {
	list-style: none;
	padding: 0;
	font-weight: 600;
	font-size: 20px;
}

.name,
.hello,
.fa-circle {
	padding: 230px 20px;
}

.btn-success {
	padding: 20px 30px;
	border-radius: 40px;
	font-weight: 500;
	font-family: var(--primary-font);
	background: var(--text-color-main);
}

.btn-success:hover {
	border-color: rgb(240, 227, 229);
}

.fab,
.fas, .homepage-dev-hello  {
	font-size: 40px;
}

.home-page-hobbies {
	font-size: 20px;
}

.learn-more {
	font-size: 25px;
}

.value-one,
.value-two,
.value-three,
.value-four {
	font-size: 35px;
}

.value-pics {
	border-radius: 35px;
}

.pink-blob {
	width: 600px;
	position: relative;
	top: 70px;
}

.about-image {
	width: 680px;
}

.about-paragraph {
	font-size: 25px;
}

.skill-lists {
	width: 100%; /* Full width */
	background-color: var(--text-color-main); /* Grey background */
	border-radius: 30px;
}

.skills {
	text-align: right; /* Right-align text */
	padding-top: 10px; /* Add top padding */
	padding-bottom: 10px; /* Add bottom padding */
	color: var(--background-color); /* White text color */
	border-radius: 30px;
}

.html, .css, .javascript, .bootstrap, .excel {
    background-color: var(--accent-color);
}

.html {
	width: 100%;
	position: relative;
	left: -25px;
}

.css {
	width: 100%;
	position: relative;
	left: -25px;
}

.javascript {
	width: 70%;
	position: relative;
	left: -25px;
}

.bootstrap {
	width: 80%;
	position: relative;
	left: -25px;
}

.excel {
	width: 80%;
	position: relative;
	left: -25px;
}

.title-underline {
	border: 5px solid var(--accent-color);
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.75;
}

.contact-image,
.about-image {
	border-radius: 35px;
}

.card-text {
	font-size: 15px;
}

/*home page responsiveness*/
@media (max-width: 1024px) {
	.homepage-dev-hello,
	.hello {
		text-align: center;
	}
}

@media (max-width: 1024px) {
	.hello {
		display: block;
        margin: 0 auto;
	}
}

@media (max-width: 1024px) {
	.homepage-name {
		font-size: 80px;
	}
}

@media (max-width: 768px) {
	.value-one, .value-two, .value-three, .value-four {
		font-size: 22px;
	}
}

@media (max-width: 576px) {
	.value-pics {
		display: none;
	}
}

@media (max-width: 768px) {
	.pink-blob {
		display: none;
	}
}

/*about page responsiveness*/
@media (max-width: 576px) {
    .about-title {
    font-size: 55px;
    }
}

@media (max-width: 576px) {
    .about-me-hello {
    font-size: 19px;
    }
}

@media (max-width: 576px) {
    .about-paragraph {
    font-size: 19px;
    }
}

@media (max-width: 1024px) {
    .about-image-div {
        display: none;
    }
}

/*works page responsiveness*/
@media (max-width:576px) {
     .works-title{
        font-size: 55px;
    }
}

@media (max-width:576px) {
    .works-cards {
    display: block;
    margin: 0 auto;
    }
}

/*contact page responsiveness*/

@media (max-width:576px) {
    .contact-title {
       font-size: 55px;
   }
}

@media (max-width:576px) {
    .contact-info {
       font-size: 20px;
   }
}

@media (max-width: 768px) {
    .contact-image {
       width: 294px;
       display: block;
       margin: auto;
   }
}

@media (max-width: 1024px) {
    .contact-info {
       font-size: 25px;
   }
}

@media (max-width: 1024px) {
    .contact-image {
      width: 550px;
   }
}

@media (max-width: 540px) {
    .contact-image {
      width: 400px;
   }
}

@media (max-width: 280px) {
    .contact-info {
     font-size: 20px;
   }
}
@media (max-width: 280px) {
    .contact-image {
     display: none;
   }
}